@font-face {
  font-family: cabin;
  src: url("cabin.regular.ttf");
}


body {
  background-color: rgb(255, 232, 240);
  font-family: cabin;
  color: #fbc6d8;
  font-size: 18px;
  background: radial-gradient(closest-side,rgba(0,0,0,0), rgb(255, 232, 240)), url("dating_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.story{
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 800px;
  border: 19px solid #fbc6d8;
  border-radius: 19px;
  background: radial-gradient(closest-side,rgba(0,0,0,0), rgb(255, 232, 240,0.75)), url("dating_bg.jpg");
}

a{
  color: pink;
}

.transition{
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 800px;
  border: 19px solid #fbc6d8;
  border-radius: 19px;
  background:#fbc6d8;
}
#credits{
  padding: 50px;
}

.credits{
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 800px;
  border: 19px solid #fbc6d8;
  border-radius: 19px;
  background:white;
  color: #fbc6d8;
}

.naga{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.blackout{
  color: black;
  background-color: black;
}

.text{
  font-family: cabin;
  background: white;
  color: #fbc6d8;
  padding: 20px;
  margin-left: auto;
  font-size: 18px;
  margin-right: auto;
  border: 3px solid #fbc6d8;
  border-radius: 19px;
  width: 700px;
  display: block;
  margin-top: 15%;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 10;
}

button{
  font-family: cabin;
  background: white;
  color: #fbc6d8;
  padding: 20px;
  margin-left: auto;
  font-size: 72px;
  margin-right: auto;
  border: 3px solid #fbc6d8;
  border-radius: 19px;
  width: 500px;
  display: block;
  margin-top: 15%;
  cursor: pointer;
}
